<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link rel="icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />

    <title>ユアコーディング</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner" data-aos="zoom-in">
        <div class="header__logo">
          <a href=""
            ><img
              src="../images/Pink and Purple Events & party Entertainment Logo.png"
              alt="ユアコーディング"
              class="header__img"
          /></a>
          <h1 class="header__ttl">ユアコーディング</h1>
        </div>
        <!-- /.header__logo -->
        <nav class="gnav">
          <ul class="gnav__list">
            <li><a href="#toFeatures">特徴</a></li>
            <li><a href="#toPrice">価格</a></li>
            <li><a href="#toCta">お問い合わせ</a></li>
          </ul>
        </nav>
        <a class="header__btn" href="#toCta">お問い合わせ</a>
        <!-- /.header__gnav -->
        <div class="burger"></div>
        <div class="burger__menu">
          <nav class="burger__gnav">
            <ul class="burger__list">
              <li><a href="#toFeatures">特徴</a></li>
              <li><a href="#toPrice">価格</a></li>
              <li><a href="#toCta">お問い合わせ</a></li>
            </ul>
            <a href="#toCta" type="button" class="burger__btn">お問い合わせ</a>
          </nav>
        </div>
      </div>
      <!-- /.header-inner -->
    </header>
    <!-- /.header -->
    <main class="main">
      <section class="mv">
        <div class="mv__inner">
          <img src="../images/manager.png" alt="" class="mv__img" />
          <h2 class="mv__ttl" data-aos="zoom-in">
            コーディングの手間を<br />最小に、デザインに注力<br />する助けに
          </h2>
          <!-- /.mv__ttl -->
          <p class="mv__txt" data-aos="zoom-in">
            ユアコーディングはコーディングに<br />特化したフリーランス<br />デザインに注力されたい方の<br />助けになります
          </p>
          <!-- /.mv__txt -->
          <a href="#toCta" class="mv__btn" data-aos="zoom-in">お問い合わせ</a>
        </div>
        <!-- /.main__inner -->
      </section>
      <section class="features" id="toFeatures">
        <h2 class="features__ttl">
          <span class="ttl__main">ユアコーディング3つの特徴</span>
          <span class="ttl__sub">FEATURES</span>
        </h2>
        <h2 class="features__subttls" data-aos="zoom-in">高速コーディング</h2>
        <div class="speed features__inner" data-aos="zoom-in">
          <figure class="speed__img">
            <img src="../images/cto.png" alt="高速コーディング" />
          </figure>
          <div class="speed__copy" data-aos="zoom-in">
            <h3 class="speed__subttl">
              コーディングに特化したフリーランスのため、<br />スピード感を持った開発が可能。
            </h3>
            <p class="speed__txt">
              開発は常にスピードとの勝負です。<br />
              ユアコーディングはコーディングに特化しているため、<br />
              素早く納品することで、クライアントがデザインに注力<br />
              する助けとなります。
            </p>
          </div>
        </div>
        <!-- /.speed -->
        <h2 class="features__subttls" data-aos="zoom-in">高品質</h2>
        <div class="quality features__inner" data-aos="zoom-in">
          <div class="quality__copy" data-aos="zoom-in">
            <h3 class="quality__subttl">
              正しいマークアップで、<br />内部SEOに強いコーディングを<br />デフォルトで行います。
            </h3>
            <p class="quality__txt">
              ユアコーディングでは、「予測しやすい」「再利用しやすい」<br />「保守しやすい」「拡張しやすい」と言った設計をもとに<br />きちんとコーディングを行うため、納品後も安心です。
            </p>
          </div>
          <figure class="quality__img" data-aos="zoom-in">
            <img
              src="../images/building_website.png"
              alt="ウェブサイトの構築"
            />
          </figure>
        </div>
        <!-- /.quality -->
        <h2 class="features__subttls" data-aos="zoom-in">迅速なレスポンス</h2>
        <div class="response features__inner" data-aos="zoom-in">
          <figure class="response__img">
            <img src="../images/new_message.png" alt="新しいメッセージ" />
          </figure>
          <div class="response__copy">
            <h3 class="response__subttl">
              原則いただいたメッセージは、<br />業務時間内であれば6時間以内に<br />お返しいたします。
            </h3>
            <p class="response__txt">
              連絡を返さないフリーランスが多い中、<br />ユアコーディングでは定期的な進捗報告など、<br />社会人としての基本を踏まえて仕事を行なって<br />おります。
            </p>
          </div>
        </div>
        <!-- /.response -->
      </section>
      <!-- /.features -->
      <section class="price" id="toPrice">
        <h2 class="price__ttl" data-aos="zoom-in">
          <span class="ttl__main">価格</span>
          <span class="ttl__sub">PRICE</span>
        </h2>
        <div class="price__inner" data-aos="zoom-in">
          <table class="price__table">
            <tr>
              <th>HTMLコーディングトップページ</th>
              <td>30.000円〜</td>
            </tr>
            <tr>
              <th>HTMLコーディング下層1ページ</th>
              <td>10.000円〜</td>
            </tr>
            <tr>
              <th>HTML+WordPressトップページ</th>
              <td>55.000円〜</td>
            </tr>
            <tr>
              <th>HTML+WordPress下層1ページ</th>
              <td>15.000円〜</td>
            </tr>
          </table>
          <p class="price__notice">
            ＊詳細な価格はページや仕様によって異なります
          </p>
        </div>
        <!-- /.price__inner -->
      </section>
      <!-- /.price -->
      <secetion class="faq">
        <h2 class="faq__ttl" data-aos="zoom-in">
          <span class="ttl__main">よくある質問</span>
          <span class="ttl__sub">FAQ</span>
        </h2>
        <div class="faq__inner" data-aos="zoom-in">
          <dl class="faq__detail">
            <dt>デザインから一貫してお願いすることは可能でしょうか</dt>
            <dd>
              ユアコーディングはコーディングに特化したサービスですので、デザインからお受けすることは基本的にありません。<br />ただデザインを行う際は提携しているデザイナーと連携して対応させていただきますので、別途ご連絡ください。
            </dd>
            <dt>WordPressのカスタマイズをお願いすることも可能でしょうか？</dt>
            <dd>
              可能です。ただECサイトなどの場合は構築難易度や工数の関係で綿密にヒアリングさせていただきたく思います。
            </dd>
            <dt>コーディングのスピード感が知りたい</dt>
            <dd>
              HTMLレスポンシブ込み5ページで1週間、10ページで2週間、WordPressサイト5ページで2週間、10ページで3週間が目安に<br />なります。
            </dd>
          </dl>
        </div>
        <!-- /.faq__inner -->
      </secetion>
      <!-- /.faq -->
      <section class="blog">
        <h2 class="blog__ttl" data-aos="zoom-in">
          <span class="ttl__main">ブログ</span>
          <span class="ttl__sub">BLOG</span>
        </h2>
        <div class="blog__inner" data-aos="zoom-in">
          <div class="blog__wrapper cards--col3">
            <div class="blog-card">
              <figure class="blog-card__img-wrapper">
                <img
                  src="../images/austin-distel-wawEfYdpkag-unsplash.png"
                  alt=""
                  class="blog-card__img"
                />
              </figure>
              <div class="blog-card__body">
                <p class="blog-card__txt">
                  サイトをリニューアルオープンしました。
                </p>
                <time datetime="2020.01.01">2020.01.23</time>
              </div>
            </div>
            <!-- /.blog-card -->
            <div class="blog-card">
              <figure class="blog-card__img-wrapper">
                <img
                  src="../images/dylan-gillis-KdeqA3aTnBY-unsplash.png"
                  alt=""
                  class="blog-card__img"
                />
              </figure>
              <div class="blog-card__body">
                <p class="blog-card__txt">
                  WebサイトでSEO内部施策に適したコーディングでどれぐらいサイトが早くなるの
                  か検証してみました
                </p>
                <time datetime="2020.01.01">2020.01.24</time>
              </div>
            </div>
            <!-- /.blog-card -->
            <div class="blog-card">
              <figure class="blog-card__img-wrapper">
                <img
                  src="../images/brooke-cagle-g1Kr4Ozfoac-unsplash.png"
                  alt=""
                  class="blog-card__img"
                />
              </figure>
              <div class="blog-card__body">
                <p class="blog-card__txt">
                  ユアコーディングではデザイナーの方を 広く募集しています。
                </p>
                <time datetime="2020.01.01">2020.01.25</time>
              </div>
            </div>
            <!-- /.blog-card -->
          </div>
          <!-- /.blog-cards cards--col3 -->
        </div>
        <!-- /.blog-cards__inner -->
      </section>
      <!-- /.blog -->
      <section class="works">
        <h2 class="works__ttl" data-aos="zoom-in">
          <span class="ttl__main">制作実績</span>
          <span class="ttl__sub">WORKS</span>
        </h2>
        <div class="works__slider" data-aos="zoom-in">
          <div class="works__wrapper swiper-wrapper">
            <div class="works-card swiper-slide">
              <figure class="works-card__img-wrapper">
                <img
                  src="../images/digital-marketing-1433427_1280-1.png"
                  alt=""
                  class="works-card__img"
                />
              </figure>
              <div class="works-card__body">
                <h3 class="works-card__txt">
                  株式会社サンプル採用サイトのコーディングを行いました！
                </h3>
                <p>
                  採用技術：jQuery,Bootstrap4<br />
                  実装期間：2週間<br />
                  担当コーダー：石井
                </p>
              </div>
            </div>
            <div class="works-card swiper-slide">
              <figure class="works-card__img-wrapper">
                <img
                  src="../images/arnel-hasanovic-MNd-Rka1o0Q-unsplash.png"
                  alt=""
                  class="works-card__img"
                />
              </figure>
              <div class="works-card__body">
                <h3 class="works-card__txt">
                  コーディングカンファレンスのイベントLPの制作を行いました！
                </h3>
                <p>
                  採用技術：jQuery,WordPress<br />
                  実装期間：4週間<br />
                  担当コーダー：石井
                </p>
              </div>
            </div>
            <div class="works-card swiper-slide">
              <figure class="works-card__img-wrapper">
                <img
                  src="../images/digital-marketing-1433427_1280-1.png"
                  alt=""
                  class="works-card__img"
                />
              </figure>
              <div class="works-card__body">
                <h3 class="works-card__txt">
                  株式会社サンプル様採用サイトのコーディングを行いました！
                </h3>
                <p>
                  採用技術：jQuery,Bootstrap4<br />
                  実装期間：2週間<br />
                  担当コーダー：石井
                </p>
              </div>
            </div>
            <div class="works-card swiper-slide">
              <figure class="works-card__img-wrapper">
                <img
                  src="../images/hal-gatewood-tZc3vjPCk-Q-unsplash.png"
                  alt=""
                  class="works-card__img"
                />
              </figure>
              <div class="works-card__body">
                <h3 class="works-card__txt">
                  株式会社サンプル様通販サイトのコーディングを行いました！
                </h3>
                <p class="works-card__txt-s">
                  採用技術：jQuery,Bootstrap4<br />
                  実装期間：6週間<br />
                  担当コーダー：石井
                </p>
              </div>
            </div>
            <div class="works-card swiper-slide">
              <figure class="works-card__img-wrapper">
                <img
                  src="../images/digital-marketing-1433427_1280-1.png"
                  alt=""
                  class="works-card__img"
                />
              </figure>
              <div class="works-card__body">
                <h3 class="works-card__txt">
                  株式会社サンプル様採用サイトのコーディングを行いました！
                </h3>
                <p>
                  採用技術：jQuery,Bootstrap4<br />
                  実装期間：2週間<br />
                  担当コーダー：石井
                </p>
              </div>
            </div>
          </div>
          <!-- /.works__slider -->
        </div>
        <!-- /.cards--slider -->
      </section>
      <!-- /.works -->
      <section class="cta" id="toCta">
        <h2 class="cta__ttl" data-aos="zoom-in">
          <span class="ttl__main">お問い合わせ</span>
          <span class="ttl__sub">CONTACT</span>
        </h2>
        <p class="cta__txt" data-aos="zoom-in">
          コーディングの人出が足りないとき、<br />
          あなたの力になります
        </p>
        <div class="cta__inner" data-aos="zoom-in">
          <form
            class="form"
            id="form"
            action="docs.https://google.com/forms/u/0/d/e/1FAIpQLScWnmyxWMAeoCT0wyYItJpmcOWZnV0fZVjZL4HEeB1MOblwpg/formResponse"
          >
            <div class="form__item">
              <label for="username" class="form__ttl"
                >お名前
                <strong class="label-required">必須</strong>
              </label>
              <div class="form__body">
                <input
                  type="text"
                  name="entry.1269806785"
                  id="username"
                  maxlength="30"
                  required
                />
              </div>
              <!-- <p class="alert__name">お名前を入力してください</p> -->
            </div>
            <div class="form__item">
              <label for="mail" class="form__ttl"
                >メールアドレス
                <strong class="label-required">必須</strong>
              </label>
              <div class="form__body">
                <input type="email" name="entry.290339385" id="mail" />
              </div>
              <!-- <p class="alert__email">メールアドレスを入力してください</p> -->
            </div>
            <div class="form__item">
              <label for="detail" class="form__ttl"
                >お問い合わせ内容
                <strong class="label-required">必須</strong>
              </label>

              <div class="">
                <textarea
                  type="text"
                  name="entry.1778653144"
                  id="detail"
                  rows="6"
                  class="form__body--detail"
                ></textarea>
              </div>
            </div>
            <div class="form__policy-check">
              <input type="checkbox" id="check" value="" />
              <label for="check">プライバシーポリシーに同意する</label>
            </div>
            <p class="alert__detail">すべての項目を入力してください</p>
            <button class="form__btn" id="submit">送信する</button>
          </form>
          <!-- /.inputBox -->
          <p class="end-message">
            送信完了しました。ありがとうございました！！
          </p>
          <p class="false-message">送信失敗です</p>
        </div>
        <!-- /.cta__inner -->
      </section>
      <!-- /.cta -->
    </main>
    <!-- /.main -->
    <footer class="footer">
      <div class="footer__inner" data-aos="zoom-in">
        <h2 class="footer__ttl">ユアコーディング</h2>
        <ul class="footer__list">
          <li><a href="">プライバシーポリシー</a></li>
          <li><a href="">個人商取引法に基づく表記</a></li>
        </ul>
        <p class="footer__copyright">
          <small>©ユアコーディング, All Rights Reserved.</small>
        </p>
      </div>
      <!-- /.footer__inner -->
    </footer>
    <!-- /.footer -->
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
