@use "color" as *;

@mixin button(){
    display: block;
    width: 155px;
    height: 37px;
    font-size: 0.88em;
    color: #fff;
    background: $btn-color;
    text-align: center;
    padding-top: 7px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    :hover{
        opacity: 0.9;
    }
}
