$btn-color: linear-gradient(to right, #FA41CC, #6020B0);
$icon-required:#0C449B;
$txt-color: #333333;
$subttl-color: #3BA6C9;
$white:#ffffff;
$bgc-blue:#EEFBFB;
$bgc-gray:#F2F2F2;
$bgc-gradient:linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%);
$bgc-footer:#F8F8F8;
